*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

#todoApp{
    border: 2px solid black;
    width: 400px;
    height: 500px;
    margin:60px auto;
    background:linear-gradient(to right,rgb(0, 213, 255));
    border-radius: 20px;
    box-shadow: 1px black;
}

#inputBox{
    width: 200px;
    height: 30px;
}
button{
    background:linear-gradient(to right,rgb(193, 207, 210)) ;
    height: 50px;
    width: 100px;
    border-radius: 50%;
    font-size: 20px;
    color:gold;
    font-weight: 700;
    transition: transform 0.2s;

}   
.eachlist{
    display:flex;
    align-items: baseline;
    gap:10px;


}

#list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top:20px;
}

.eachlist p{
    font-size: 20px;
}

button:hover{
    transform: scale(0.9);
}